/* Confs CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-blue: #DAF5FA;
    --bg-green: #D1FECB;
    --bg-pink: #F6D0F6;
    --bg-purple: #DCD0F3;
    --bg-yellow: #FCFCCB;
    --bg-orange: #FBD4B4;
    --bg-white: #FFFFFF;

    --priority-low: #3465a4;
    --priority-medium: #F57900;
    --priority-high: #cc0000;

    --border-color: #A7A7A7;
    --text-color: #000000;
    --footer-text: #ACACAC;

    --header-height: 100px;
    --task-height: 50px;
    --task-max-width: 800px;
    --task-gap: 5px;
    --icon-delete-size: 20px;
    --priority-border-width: 5px;
    --color-square-size: 20px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
}

.container {
    max-width: var(--task-max-width);
    width: 100%;
    margin: 0 auto;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.container--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-input-container {
    max-width: var(--task-max-width);
    width: 100%;
    position: relative;
    margin: var(--task-gap) 0 0;
    display: flex;
    align-items: center;
    background-color: var(--bg-white);
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.task-input__icon {
    width: 20px;
    height: 20px;
    margin: 0 15px;
}

.task-input {
    width: 100%;
    height: var(--task-height);
    padding: 0 15px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

.task-input::placeholder {
    color: var(--footer-text);
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: var(--task-gap);
}

.task {
    max-width: var(--task-max-width);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-white);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0 15px;
}

.task-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    height: var(--task-height);
}

.task-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.task-description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

.task-expand {
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.8s ease;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--footer-text);
}

.task-expand.expanded {
    transform: rotate(180deg);
}

.task-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 0 15px;
    border-top: 1px solid var(--border-color);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
    transform-origin: top center;
}

.task-body.expanded {
    transform: scaleY(1);
    opacity: 1;
    max-height: 500px;
    padding: 15px;
}

.task-field {
    display: flex;
    flex-direction: column;
    gap: var(--task-gap);
}

.task-field textarea {
    padding: 5px;
}

.task-completed {
    text-decoration: line-through;
}

.task-field__label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--footer-text);
}

.task-observations {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    min-height: 100px;
    resize: none;
}

.task-priority {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--bg-white);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
}

.task-priority-indicator {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--priority-border-width);
    background-color: transparent;
}

.task--priority-low .task-priority-indicator {
    background-color: var(--priority-low);
}

.task--priority-medium .task-priority-indicator {
    background-color: var(--priority-medium);
}

.task--priority-high .task-priority-indicator {
    background-color: var(--priority-high);
}

.delete-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: auto;
}

.task-delete {
    width: 30%;
    height: 40px;
    background-color: var(--priority-high);
    color: var(--bg-white);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.task-delete:hover {
    background-color: #bb0202;
}

.task-field-container {
    display: flex;
    flex-direction: column;
    gap: var(--task-gap);
    justify-content: space-between;
}

.footer {
    flex: 0 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: var(--bg-white);
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__counter {
    display: flex;
    gap: 10px;
    align-items: center;
}

.toggle-completed {
    cursor: pointer;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.footer__label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--footer-text);
}

.color-palette {
    display: flex;
    gap: var(--task-gap);
}

.color-square {
    width: var(--color-square-size);
    height: var(--color-square-size);
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.color-square--blue {
    background-color: var(--bg-blue);
}

.color-square--green {
    background-color: var(--bg-green);
}

.color-square--pink {
    background-color: var(--bg-pink);
}

.color-square--purple {
    background-color: var(--bg-purple);
}

.color-square--yellow {
    background-color: var(--bg-yellow);
}

.color-square--orange {
    background-color: var(--bg-orange);
}

.color-square--white {
    background-color: var(--bg-white);
}